.AddToCartButton {
	svg {
		path {
			transition: fill 0.5s;
		}
	}
	&:hover {
		svg {
			path {
				&:nth-child(2) {
					fill: black;
				}
			}
		}
	}

	@media (max-width: 1200px) {
		svg {
			@apply w-[30px] h-[30px];
		}
	}

	@media (max-width: 768px) {
		svg {
			path {
				transition: none !important;
			}
		}
		&:hover {
			svg {
				path {
					&:nth-child(2) {
						fill: transparent !important;
					}
				}
			}
		}
	}
}
