.ProductImageList {
	@apply pl-5;

	@media (max-width: 1386px) {
		@apply pl-[10px];
	}
}

.ImageSlider {
	height: 545px !important;
	padding-top: 2px !important;
	overflow: hidden !important;

	@media (max-width: 1386px) {
		height: 410px !important;
	}

	@media (max-width: 1200px) {
		height: 330px !important;
	}

	@media (max-width: 960px) {
		height: 260px !important;
	}
}
