@font-face {
	font-family: 'Neue Machina';
	src: url(./NeueMachina-Light.woff2) format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Neue Machina';
	src: url(./NeueMachina-Regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Neue Machina';
	src: url(./NeueMachina-Bold.woff2) format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Druk Text Wide Cyr';
	src: url(./druktextwidecyr-super.woff2) format('woff2');
	font-weight: 900;
}
